/* from: https://gist.github.com/BrendonKoz/b1df234fe3ee388b402cd8e98f7eedbd#file-leaflet-darkmode-md */

:root {
    --layer-dark-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.layer-dark {
    filter:var(--layer-dark-filter, none);
}