{% load static %}
{% load socialaccount %}
{% load utility_tags %}

{% variable request.COOKIES|get:'theme' 'dark' as theme %}
{% random_string as id %}

<div class="btn-group dropup">
    {% if user.is_authenticated %}
        <button class="btn btn-{{theme}} bi bi-columns" type="button"></button>
    {% else %}
        <a 
            href="{% provider_login_url 'google' %}?next={% url 'main:index' %}" 
            class="btn btn-{{theme}} justify-content-center d-flex flex-nowrap text-reset text-decoration-none"
            style="min-height:32px;"
        >
            <i class="bi bi-google me-2"></i>
            <span class='text-nowrap fw-medium fs-12'>Sign in with Google</span>
        </a>
    {% endif %}

    <button
        class="btn btn-dark border-top-0 dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="min-height:32px;min-width:32px;"
    ></button>
    
    <div id="{{id}}" class="dropdown-menu text-bg-{{theme}} m-1 p-3">
        <div class="d-flex flex-column gap-2">
            {% if user.is_authenticated %}
                <div class="d-flex flex-nowrap gap-3 align-items-center">
                    {% with social_account=user.socialaccount_set.all %}
                        {% if social_account and social_account.0.extra_data.picture %}
                            <img
                                class="rounded-circle"
                                alt="{{user}}"
                                src="{{social_account.0.extra_data.picture}}"
                                width="50"
                                height="50"
                            />
                        {% else %}
                            <i class="bi bi-person-circle" style="font-size:50px"></i>
                        {% endif %}
                    {% endwith %}
                    <div class="d-flex flex-column" style="max-height:50px;">
                        <h6 id="lxsVhyxwVZXdpYKv" class="text-wrap fw-bold">{{user}}</h6>
                        <div class="d-flex flex-wrap gap-3">
                            {% if user.is_superuser %}
                                <div><a 
                                    class="small text-reset text-decoration-none fs-12"
                                    href="{% url 'admin:index' %}" 
                                    target="_blank" 
                                    rel="noopener noreferrer"   
                                >Admin</a></div>
                            {% endif %}
                            <form class="m-0" method="post" action="{% url 'customuser:logout' %}">
                                {% csrf_token %}
                                <button class="text-bg-{{theme}} border-0 bg-transparent p-0 m-0 small fs-12" type="submit" style="height:auto;width:auto;">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="d-flex">
                <button type="button" class="btn btn-outline-secondary text-bg-{{theme}} btn-sm badge font-monospace" data-bs-toggle="modal" data-bs-target="#userOptionsModal">
                    <i class="bi bi-toggles"></i>
                    <span>Options</span>
                </button>
            </div>
        </div>
        <div class="d-flex mt-5">
            <p class="text-wrap text-muted user-select-none lh-1 m-0 fs-12" style="width:230px;">
                <span class="text-bg-{{theme}}">By using Geospatialib, you agree to comply with our</span> 
                <span class="text-primary" data-bs-toggle="modal" data-bs-target="#userTermsModal">Terms</span>, 
                <span class="text-primary" data-bs-toggle="modal" data-bs-target="#userPrivacyPolicyModal">Privacy Policy</span>
                <span class="text-bg-{{theme}}">and</span> 
                <span class="text-primary" data-bs-toggle="modal" data-bs-target="#userCookiesPolicyModal">Cookies Policy</span>.
            </p>
        </div>
    </div>
</div>

{% if not user.is_authenticated %}
    <script>
        const dropdown = new bootstrap.Dropdown("#{{id}}")
        dropdown.show()
    </script>
{% endif %}