{% load static %}
{% load socialaccount %}
{% load utility_tags %}

{% variable request.COOKIES|get:'theme' 'dark' as theme %}

<div class="d-flex flex-column">
    <div 
        class="maplibregl-ctrl maplibregl-ctrl-group btn-group dropup text-bg-{{theme}} d-flex justify-content-center align-items-center rounded-circle" 
        style="width:40px;height:40px;"
    >
        <button 
            type="button" 
            class="btn mb-1 h-auto w-auto fs-20 rounded-circle" 
            data-bs-toggle="collapse" data-bs-target="#layerFormsContainer" aria-expanded="false" aria-controls="layerFormsContainer"
        >📖</button>
    </div>
    <div class="maplibregl-ctrl maplibregl-ctrl-group text-bg-{{theme}}">
        <div class="btn-group dropup">
            {% if user.is_authenticated %}
                <button 
                    class="btn btn-{{theme}} bi bi-columns" 
                    type="button" 
                    style="height:32px;width:32px;"
                    data-bs-toggle="modal" 
                    data-bs-target="#userDashboardModal"
                ></button>
            {% else %}
                <a 
                    href="{% provider_login_url 'google' %}?next={% url 'main:index' %}" 
                    rel="noopener noreferrer"
                    class="btn btn-{{theme}} justify-content-center d-flex flex-nowrap gap-2 text-reset text-decoration-none"
                    style="height:32p;"
                >
                    <i class="bi bi-google fs-12"></i>
                    <span class='text-nowrap fw-medium fs-12 d-none d-md-block'>Sign in with Google</span>
                </a>
            {% endif %}
        
            <button
                class="btn btn-{{theme}} border-top-0 dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="height:32px;width:32px;"
                {% if not user.is_authenticated %}
                    x-data x-init="$el.click();$el.blur()"
                {% endif %}
            ></button>
            
            <div class="dropdown-menu dropdown-menu-start text-bg-{{theme}} my-1 mx-3 p-3">
                <div class="d-flex flex-column">
                    {% if user.is_authenticated %}
                        <div class="d-flex flex-column gap-3">
                            <div class="d-flex flex-nowrap gap-3 align-items-center user-select-none">
                                {% with social_account=user.socialaccount_set.all %}
                                    {% if social_account and social_account.0.extra_data.picture %}
                                        <img
                                            class="rounded-circle"
                                            alt="{{user}}"
                                            src="{{social_account.0.extra_data.picture}}"
                                            width="50"
                                            height="50"
                                        />
                                    {% else %}
                                        <i class="bi bi-person-circle" style="font-size:50px"></i>
                                    {% endif %}
                                {% endwith %}
                                <span id="lxsVhyxwVZXdpYKv" class="text-wrap fw-bold m-0 fs-14">{{user}}</span>
                            </div>
                            <div class="d-flex flex-wrap gap-2">
                                {% if user.is_superuser %}
                                    <div><a 
                                        class="small text-reset text-decoration-none d-flex flex-nowrap gap-1"
                                        href="{% url 'admin:index' %}" 
                                        target="_blank" 
                                        rel="noopener noreferrer"   
                                    ><i class="bi bi-database-fill-gear fs-12 text-muted fw-medium"></i><span class='fs-12 text-muted fw-medium'>Admin</span></a></div>
                                {% endif %}
                                <form class="m-0" method="post" action="{% url 'customuser:logout' %}">
                                    {% csrf_token %}
                                    <button class="text-bg-{{theme}} border-0 bg-transparent p-0 m-0 small fs-12 text-muted fw-medium d-flex flex-nowrap gap-1 h-auto w-auto" type="submit">
                                        <i class="bi bi-box-arrow-in-left"></i>
                                        <span>Logout</span>
                                    </button>
                                </form>
                                <button type="button" class="btn text-bg-{{theme}} btn-sm border-0 fs-12 text-muted fw-medium d-flex flex-nowrap gap-1 h-auto w-auto" data-bs-toggle="modal" data-bs-target="#userSettingsModal">
                                    <i class="bi bi-sliders"></i>
                                    <span>Settings</span>
                                </button>
                            </div>
                        </div>
                        <hr>
                    {% endif %}
                    <div class="d-flex">
                        <p class="text-wrap user-select-none lh-1 m-0 fs-12">
                            <span class="text-bg-{{theme}} text-muted">By using Geospatialib, you agree to comply with our</span> 
                            <span class="text-primary" data-bs-toggle="modal" data-bs-target="#userTermsModal">Terms of Use</span>, 
                            <span class="text-primary" data-bs-toggle="modal" data-bs-target="#userPrivacyPolicyModal">Privacy Policy</span>
                            <span class="text-bg-{{theme}} text-muted">and</span> 
                            <span class="text-primary" data-bs-toggle="modal" data-bs-target="#userCookiesPolicyModal">Cookies Policy</span>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

