{% load utility_tags %}
{% load static %}

<div id='exportLayersModal' class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen-sm-down modal-lg">
        <form id='exportLayersForm' class="modal-content" style='min-height:50%'>
            <div class="modal-header d-flex flex-column gap-3">
                <div class='d-flex justify-content-between w-100'>
                    <h5 class="modal-title">Export layers</h5>
                    <button type="button" class="bi bi-x-lg border-0 bg-transparent p-0 m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="d-flex flex-nowrap gap-3 w-100">
                    header fields
                </div>
            </div>
            <div class="modal-body d-flex flex-column gap-3 fs-12 p-0">
                layer fields
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button name='reset' type="button" class="btn btn-secondary" tabindex='-1'>Reset</button>
                <button name='submit' type="button" class="btn btn-primary">Export layers</button>
            </div>
        </form>
    </div>
</div>

