{% load utility_tags %}

{% random_string as id %}

<div
    id="{{id}}"
    role="alert"
    class="alert d-flex align-items-center show
        {% if dismissible == 1 %}
            alert-dismissible
        {% endif %}

        {% if 'success' in message.tags %}
            alert-success
        {% elif 'error' in message.tags %}
            alert-danger
        {% elif 'info' in message.tags %}
            alert-primary
        {% elif 'warning' in message.tags %}
            alert-warning
        {% endif %}
    "
    {% if fadeout == 1 %}
        {% comment %} x-data {% endcomment %}
        {% comment %} x-init = "fadeoutElement($el)" {% endcomment %}
        x-init = "show = ! show"
        x-show="show"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 scale-90"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-90"
    {% endif %}
>
    {% if "message-template" in message.tags %}
        {% include message|safe %}
    {% else %}
        {{ message|safe|escape }}
    {% endif %}
    
    {% if dismissible == 1 %}
        <button
            type="button" 
            class="btn-close" 
            data-bs-dismiss="alert" 
            aria-label="Close"
        ></button>
    {% endif %}
</div>