{% load static %}

<div 
    class="d-flex flex-column gap-3 {{message_tag}}"
    
    {% if message_tag %}
        id="{{message_tag}}-message-container"
    {% endif %}
    
    {% if hx_swap_oob %}
        hx-swap-oob="{{hx_swap_oob}}"
    {% endif %}
>
    {% if messages %}
        {% for message in messages %}
            {% if message_tag and message_tag != '' %}
                {% if message_tag in message.tags %}
                    {% include "helpers/partials/messages/content.html" %}
                {% endif %}
            {% else %}
                {% include "helpers/partials/messages/content.html" %}
            {% endif %}
        {% endfor %}                                    
    {% endif %}
</div>