<div class="modal fade" id="userTermsModal" tabindex="-1" aria-labelledby="userTermsModalLabel" data-bs-backdrop="static">
    <div class="modal-fullscreen-sm-down modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="userTermsModalLabel">Terms of Use</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="small">
            By accessing and using Geospatialib, you agree to comply with the following terms:
            <ul class='small'>
                <li>You may use this platform for personal or educational purposes. Commercial use requires prior written consent.</li>
                <li>All map data and layers displayed are sourced from third-party providers, including OpenStreetMap, and are subject to their respective licenses.</li>
                <li>You must not attempt to reverse-engineer, duplicate, or resell any component of the service.</li>
                <li>While we strive for accuracy, we make no guarantees regarding the completeness or timeliness of data.</li>
                <li>You are responsible for ensuring your use complies with local laws and regulations.</li>
                <li>We reserve the right to update these terms at any time.</li>
            </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Agree</button>
        </div>
      </div>
    </div>
</div>