{% load leaflet_tags %}

<div 
    class="vh-100 position-relative {{class}}"

    data-map-title = "{{map_title}}"
    data-map-class = "{{map_class}}"

    data-map-panels = "{{map_panels}}"
    
    data-map-controls-included = "{{map_controls_included}}"
    data-map-controls-excluded = "{{map_controls_excluded}}"
    
    data-map-geocoder-fields="{{map_geocoder_fields}}"
    data-map-bbox-fields="{{map_bbox_fields}}"
>
    <div class='position-absolute top-0 start-0 z-0 d-flex w-100 justify-content-center px-5 mt-10'>
        {% include "helpers/partials/messages/container.html" with message_tag=map_id dismissible=1 fadeout=1 hx_swap_oob="true" %}
    </div>
    {% leaflet_map map_id %}
</div>