<svg id='svgFillDefs' xmlns="http://www.w3.org/2000/svg" height="0" width="0" style="position: absolute; top: 0; left: 0; width: 0; height: 0;">
    <defs>
        {% comment %} <pattern id="mountainPattern" patternUnits="userSpaceOnUse" width="100" height="100">
            <polygon points="25,75 50,25 75,75" fill="#8B5A2B"/>
            <circle cx="10" cy="75" r="10" fill="#228B22"/>
            <rect x="8" y="75" width="4" height="10" fill="#8B4513"/>
        </pattern> {% endcomment %}

        <text id="mountainPattern" x="10" y="30" font-family="bootstrap-icons" font-size="24">
            &#xF5E1;
        </text>
    </defs>
</svg>