<svg id='svgFillDefs' xmlns="http://www.w3.org/2000/svg" height="0" width="0" style="position: absolute; top: 0; left: 0; width: 0; height: 0;">
    <defs>
        <pattern id="mountainPattern" patternUnits="userSpaceOnUse" width="100" height="100">
            {% comment %} <polygon points="25,75 50,25 75,75" fill="#8B5A2B"/>
            <circle cx="10" cy="75" r="10" fill="#228B22"/>
            <rect x="8" y="75" width="4" height="10" fill="#8B4513"/> {% endcomment %}
            {% comment %} <text x="10" y="30" font-size="24">
                test
            </text> {% endcomment %}
            {% comment %} <text x="10" y="30" font-size="24">
                🌱
            </text> {% endcomment %}
            <text x="10" y="30" font-family="bootstrap-icons" font-size="24">
                &#xF5E1;
            </text>

        </pattern>
        {% comment %} <foreignObject id="mountainPattern" width="100" height="50" x="50" y="25">
            <body xmlns="http://www.w3.org/1999/xhtml">
                <button style="width: 100px; height: 50px; font-size: 16px;">Click Me</button>
            </body>
        </foreignObject> {% endcomment %}

    </defs>
</svg>