{% load static %}
{% load django_htmx %}

{% comment %} jquery {% endcomment %}
<script src="{% static 'plugins/jquery/js/jquery.min.js' %}" defer></script>

{% comment %} bootstrap and plugins {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-tagsinput@0.7.1/dist/bootstrap-tagsinput.min.js" integrity="sha256-qErJbSp6E475pR/hJdpCvw76I8KND2+hQ25wkpA65pw=" crossorigin="anonymous"></script>

{% comment %} htmx {% endcomment %}
<script src="{% static 'plugins/htmx/js/htmx.min.js' %}" defer></script>

{% comment %} leaflet and plugins {% endcomment %}
<script src="{% static 'plugins/proj4/js/proj4.js' %}" defer></script>
<script src="{% static 'plugins/turf/js/turf.min.js' %}" defer></script>
<script src="{% static 'plugins/leaflet/js/leaflet.min.js' %}" defer></script>
<script src="{% static 'plugins/leaflet-control-geocoder/js/Control.Geocoder.min.js' %}" defer></script>
<script src="{% static 'plugins/leaflet-proj4/js/proj4leaflet.min.js' %}" defer></script>

{% comment %} project scripts {% endcomment %}
<script type="text/javascript" src="{% static app_name|add:'/js/'|add:url_name|add:'.js' %}"></script>