{% load static %}
{% load django_htmx %}

{% comment %} jquery {% endcomment %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

{% comment %} bootstrap {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% comment %} bootstrap tagsinput {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-tagsinput@0.7.1/dist/bootstrap-tagsinput.min.js" integrity="sha256-qErJbSp6E475pR/hJdpCvw76I8KND2+hQ25wkpA65pw=" crossorigin="anonymous"></script>

{% comment %} htmx {% endcomment %}
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
{% django_htmx_script %}

{% comment %} gis {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.15.0/proj4.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/0.0.124/turf.min.js" defer></script>

{% comment %} leaflet {% endcomment %}
{% leaflet_js %}


{% comment %} base scripts {% endcomment %}
<script type="text/javascript" src="{% static 'base/js/index.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/sidebar.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/dark_mode.js' %}"></script>

{% comment %} page scripts {% endcomment %}
<script type="text/javascript" src="{% static app_name|add:'/js/'|add:url_name|add:'.js' %}"></script>