{% load static %}

{% comment %} bootstrap and plugins {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/boostrap/css/bootstrap.min.css' %}">
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'plugins/boostrap-tagsinput/css/bootstrap-tagsinput.min.css' %}"> {% endcomment %}

{% comment %} leaflet and plugins {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/leaflet/css/leaflet.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/leaflet-control-geocoder/css/Control.Geocoder.min.css' %}">

{% comment %} project styles {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static app_name|add:'/css/'|add:url_name|add:'.css' %}">    
