{% load utility_tags %}

<form 
    id='addLayersForm'
    class='d-flex flex-column gap-3 w-100 p-3'
>
    <div class='d-flex flex-nowrap gap-3'>
        <div class="form-check">
            {% variable "addLayersForm-source-map" as id %}
            <input class="form-check-input" type="radio" name="source" id="{{id}}" checked>
            <label class="form-check-label" for="{{id}}">Import a map</label>
        </div>
        <div class="form-check">
            {% variable "addLayersForm-source-files" as id %}
            <input class="form-check-input" type="radio" name="source" id="{{id}}">
            <label class="form-check-label" for="{{id}}">Upload local files</label>
        </div>
        <div class="form-check">
            {% variable "addLayersForm-source-url" as id %}
            <input class="form-check-input" type="radio" name="source" id="{{id}}">
            <label class="form-check-label" for="{{id}}">Onboard a layer source URL</label>
        </div>
    </div>
    <div class='d-flex flex-column'>
        <div id="addLayersForm-fields-map">
            <input name="map" class="form-control form-control-sm fs-12" type="file" accept=".gsl">
        </div>
        <div id="addLayersForm-fields-files" class='d-none'>
            <input 
                name="files" 
                class="form-control form-control-sm fs-12" 
                type="file"
                multiple="true" 
                hx-post="/htmx/forms/layers/" 
                hx-trigger="get-file-forms" 
                hx-target="#addLayersForm-results-file"
                hx-swap="innerHTML" 
                hx-params="not files" 
                accept="
                    .geojson,
                    .zip,
                    .csv,
                    .gpx,
                    .kml,
                    .kmz,
                    .osm,
                    .json,
                    .dxf,
                    .shp,
                    .dbf,
                    .prj,
                    .cpg,
                    .shx,
                    .gpkg,
                    .sqlite,
                "
            >
        </div>
        <div id="addLayersForm-fields-url" class='d-none'>
            {% include "helpers/maplibre/add_layers/url_fields.html" with form=validate_collection_form %}          
        </div>
        <div id='addLayersForm-indicator' class='d-flex justify-content-center htmx-indicator p-3'>
            <div class="spinner-border spinner-border-sm" role="status">
               <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div class="d-flex flex-grow-1">
        <div id='addLayersForm-results-map'></div>
        <div id='addLayersForm-results-files' class='d-none'></div>
        <div id='addLayersForm-results-url' class='d-none'></div>
    </div>
    <div class="d-flex flex-nowrap gap-2">
        <button type="button" name='vector' class="btn btn-success btn-sm fs-12" tabindex="-1">Create vector layer</button>
        <button name='reset' type="button" class="ms-auto btn btn-secondary btn-sm fs-12" tabindex='-1'>Reset</button>
        <button name='add' type="button" disabled class="btn btn-primary btn-sm fs-12">Add layers</button>
    </div>
</form>