{% load utility_tags %}

<div id='addLayersModal' class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <form id='addLayersForm' class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new layers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-3">
                <div class="d-flex flex-nowrap gap-3">
                    <div class="form-check">
                        {% random_string as id %}
                        <input id="{{id}}" class="form-check-input" type="radio" value="Upload files" name="newLayerSource" checked>
                        <label class="form-check-label" for="{{id}}">Upload files</label>
                    </div>
                    <div class="form-check m-0">
                        {% random_string as id %}
                        <input id="{{id}}" class="form-check-input" type="radio" value="Connect to URL" name="newLayerSource">
                        <label class="form-check-label" for="{{id}}">Connect to URL</label>
                    </div>
                </div>

                <input name='newLayerFile' class="form-control" type="file" multiple="true" accept=".geojson, .zip">

                <div class="d-none d-flex flex-column gap-2">
                    <div class="input-group ">
                        <div class="input-group-text">
                            <span class="">URL</span>
                        </div>
                        <input type="url" name="newLayerUrl" class="form-control">
                    </div>
                    <div class="input-group ">
                        <div class="input-group-text">
                            <span class="">Format</span>
                        </div>
                        <select name="newLayerFormat" class="form-select" disabled>
                            <option value="">Select format</option>
                            <option value="file">Downloadable File</option>
                            <option value="geojson">GeoJSON API</option>
                        </select>
                    </div>
                    <textarea class="w-100 flex-grow-1 border rounded p-1 d-flex flex-wrap gap-1 fs-12" name="newLayerNames" placeholder="Select layer names" disabled tabindex="-1"></textarea>
                </div>
                
                {% comment %} <div id="QUuGnjAHhBaJtiuo" class="d-flex flex-nowrap gap-2">
                    <button class="btn btn-sm fs-12 d-flex flex-nowrap justify-content-center btn-dark" type="button" tabindex="-1">
                        <i class="bi bi bi-arrow-counterclockwise fs-12 pe-none"></i>
                    </button>
                    <button class="btn btn-sm fs-12 d-flex flex-nowrap justify-content-center btn-success flex-grow-1" type="submit" disabled="true">
                        <i class="bi me-2 bi-stack pe-none"></i>
                        <span class="">Add layers</span>
                    </button>
                </div> {% endcomment %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Reset form</button>
                <button type="button" class="btn btn-primary">Add layers</button>
            </div>
        </form>
    </div>
</div>