{% load utility_tags %}

{% variable request.resolver_match.app_name as app_name %}
{% variable request.resolver_match.url_name as url_name %}
{% variable app_name|add:'-'|add:url_name as page_name %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>
            {% block title %}{% endblock title %}
        </title>
        
        {% include "helpers/partials/resources/styles.html" %}
    </head>
    <body class='vh-100'>
        {% block body %}
            <div class='row vh-100'>
                {% variable page_name|add:'-offcanvas' as offcanvas_id %}
                {% include "helpers/partials/offcanvas/body.html" %}
                <div class="col vh-100">
                    <div class="position-fixed bottom-0 z-3">
                        {% include "helpers/partials/offcanvas/toggle.html" %}
                    </div>
                    {% include "helpers/partials/maps/leaflet_map.html" with map_id=page_name|add:'-map' %}
                </div>
            </div>
        {% endblock body %}
        
        {% include "helpers/partials/resources/scripts.html" %}
    </body>
</html>