{% load utility_tags %}

{% variable request.resolver_match.app_name as app_name %}
{% variable request.resolver_match.url_name as url_name %}
{% variable app_name|add:'-'|add:url_name as page_name %}
{% variable request.COOKIES|get:'theme' 'light' as theme %}
{% variable page_name|add:'-offcanvas' as offcanvas_id %}
{% variable 'show_#'|add:offcanvas_id as show_sidebar_key %}
{% variable request.COOKIES|get:show_sidebar_key as show_sidebar %}
{% variable show_sidebar|equals:'true' True as show_sidebar %}

{% block page_variables %}{% endblock page_variables %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="{{theme}}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>
            {% block title %}{% endblock title %}
        </title>
        
        {% include "helpers/partials/resources/styles.html" %}
    </head>
    <body class="vh-100 overflow-hidden"> 
        {% comment %} hx-headers="{'X-CSRFToken':'{{csrf_token}}'}" {% endcomment %}
        {% block body %}
            <div class="container-fluid vh-100">
                <div class='row vh-100'>
                    {% block main_sidebar %}
                        <div 
                            class="{% if show_sidebar %}offcanvas-lg{% else %}offcanvas{% endif %} offcanvas-start col-lg-4 text-bg-{{theme}} shadow-lg border-0 p-0 d-flex flex-column vh-100" 
                            tabindex="-1" 
                            id="{{offcanvas_id}}" 
                            aria-labelledby="{{offcanvas_id}}Label"
                            data-bs-scroll="true" 
                            data-bs-backdrop="false" 
                        >
                            <div class="offcanvas-header d-flex justify-content-between">
                                <h5 class="offcanvas-title user-select-none" id="{{offcanvas_id}}Label"><a class='text-decoration-none text-reset' href="/">Geospatialib</a></h5>
                                <div class='ms-5 d-flex flex-nowrap'>
                                    {% with default_class='bi border-0 bg-transparent fs-20 p-0 ms-3 text-muted' %}
                                        <button 
                                            type="button" 
                                            class="{% if theme == 'light' %}bi-moon{% else %}bi-moon-fill{% endif %} {{default_class}}"
                                            onclick='toggleTheme()'
                                            title='Toggle dark mode'
                                        ></button>
                                        <button 
                                            type="button" 
                                            class="{% if show_sidebar %}bi-layout-sidebar-inset{% else %}bi-window-sidebar{% endif %} d-none d-lg-inline {{default_class}}"
                                            onclick='toggleSidebar("#{{offcanvas_id}}")'
                                            title='Toggle sidebar'
                                        ></button>
                                        <button 
                                            type="button" 
                                            class="bi-x-lg {% if show_sidebar %}d-lg-none{% endif %} {{default_class}}" 
                                            data-bs-dismiss="offcanvas" 
                                            data-bs-target="#{{offcanvas_id}}" 
                                            aria-label="Close"
                                        ></button>
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="offcanvas-nav">
                                {% block offcanvas_nav %}{% endblock offcanvas_nav %}
                            </div>
                            <div class="offcanvas-body overflow-auto flex-grow-1 bg-{{request.COOKIES.theme}}">
                                {% block offcanvas_body %}{% endblock offcanvas_body %}
                            </div>
                        </div>
                    {% endblock main_sidebar %}
                    <div 
                        class="col sidebar-gutter d-none {% if show_sidebar %}d-lg-block{% endif %}" 
                        title='Resize sidebar' 
                        x-data 
                        @mousedown="resizeSidebar('#{{offcanvas_id}}')"
                        @touchstart="resizeSidebar('#{{offcanvas_id}}')"
                    ></div>
                    <div class="col vh-100 p-0">
                        <div class="position-fixed bottom-0 z-1 m-10">
                            {% block sidebar_toggle %}
                                {% include "helpers/partials/sidebar/toggle.html" with icon='bi-layout-sidebar-inset' title='Toggle sidebar' %}
                            {% endblock sidebar_toggle %}
                        </div>
                        {% include "helpers/partials/maps/leaflet_map.html" with map_id=page_name|add:'-map' map_panels="true" map_class="z-0"  map_controls_included="all" %}
                    </div>
                </div>
            </div>
        {% endblock body %}

        {% block modals %}{% endblock modals %}

        {% include "helpers/partials/add_layers/modal.html" %}
        {% include "helpers/partials/maps/svg_fill_defs.html" %}

        {% include "helpers/partials/resources/scripts.html" %}
        {% block scripts %}{% endblock scripts %}
    </body>
</html>