{% load static %}
{% load helper_tags %}

{% var request.resolver_match.app_name as app_name %}
{% var request.resolver_match.url_name as url_name %}

{% var request.COOKIES.theme as theme %}
{% if not theme %}
    {% var 'light' as theme %}
{% endif %}

{% block variables %}{% endblock variables %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="{{theme}}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        
        {% include "helpers/resources/styles.html" %}
        {% block styles %}{% endblock styles %}
    </head>
    <body class="vh-100 overflow-hidden"> 
        {% block body %}
            <div class="vh-100">
                {% include "maplibre/map.html" %}
            </div>
            {% include "helpers/partials/sidebar.html" %}
        {% endblock body %}


        {% block modals %}
            {% include "helpers/modals/user_terms.html" %}
            {% include "helpers/modals/privacy_policy.html" %}
            {% include "helpers/modals/cookies_policy.html" %}
            {% include "helpers/modals/clear_stored_data.html" %}
            {% include "helpers/modals/add_layers_form.html" %}
            {% if user.is_authenticated %}
                {% include "helpers/modals/user_settings.html" %}
                {% if not user.is_superuser and not user.is_staff %}
                    {% include "helpers/modals/delete_account.html" %}
                {% endif %}
            {% endif %}
        {% endblock modals %}

        {% include "helpers/resources/scripts.html" %}
        {% block scripts %}{% endblock scripts %}
    </body>
</html>