{% load util_tags util_filters %}
{% load leaflet_tags %}

{% var request.resolver_match.app_name as app_name %}
{% var request.resolver_match.url_name as url_name %}

<!DOCTYPE html>
<html lang="en" data-bs-theme='dark'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %} - Geospatialib</title>
        {% include "base/partials/resources/styles.html" %}
        {% block styles %}{% endblock styles %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block body %}
            {% leaflet_map 'geospatialibMap' %}
        {% endblock body %}
        {% include "base/partials/resources/scripts.html" %}
        {% block scripts %}{% endblock scripts %}
    </body>
</html>