{% load util_tags %}
{% load util_filters %}

{{'test string' as variable}}

{% with app_name=request.resolver_match.app_name url_name=request.resolver_match.url_name %}
    <!DOCTYPE html>
    <html lang="en" data-bs-theme='dark'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %} - Geospatialib</title>
        {% include "base/resources/styles.html" %}
        {% block styles %}{% endblock styles %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block body %}
            {% random_string %}
            {% comment %} {% var 'test variable' as variable %} {% endcomment %}
            {{variable}}
            {{variable|object_type}}
        {% endblock body %}
        {% include "base/resources/scripts.html" %}
        {% block scripts %}{% endblock scripts %}
    </body>
    </html>
{% endwith %}