<form 
    id='searchForm'
    class='d-flex flex-column gap-3 pb-3'
    hx-get="{% url 'htmx:search' %}" 
    hx-trigger="submit" 
    hx-target="#searchResults"
    hx-swap="outerHTML"
>
    <div id='searchFormFields' class="collapse show multi-collapse px-3">
        <div class="d-flex justify-content-between gap-2">
            <div class='d-flex flex-grow-1'>
                {% with field=form.query %}
                    {% include "helpers/partials/form/field.html" %}
                {% endwith %}
            </div>
            <button 
                class='rounded-circle btn btn-primary' 
                type="submit"
                style="height:42px;width:42px"
            ><i class="bi bi-search"></i></button>
        </div>
    </div>
    <div id='searchResultsFiltersContainer'></div>
</form>