{% load static %}
{% load utility_tags %}

{% for layer in layers %}
    {% variable layer.data as data %}
    {% variable layer.collection as collection %}
    {% variable data.type as type %}
    {% variable collection.url.path as url %}
    <li 
        class="list-group-item d-flex border-0 col-xxl-2 col-xl-3 col-lg-5 col-12 p-0 gap-3 flex-grow-1"
        style='min-width:180px;'
        {% if forloop.last and page_obj.has_next  %}
            hx-get="{% url 'htmx:search_library' %}{% querystring request page=page_obj.number|add:1 %}"
            hx-trigger="intersect once"
            hx-swap='outerHTML'
            hx-target="#searchResultsSpinner-{{page_obj.number}}"
            hx-indicator="#searchResultsSpinner-{{page_obj.number}}"
        {% endif %}
    >   
        <div class="card w-100">
            <div class="card-body w-100 d-flex flex-column">
                <div>
                    <span 
                        class="badge font-monospace fs-10 align-top user-select-none "
                        title="{{type}}" 
                        style="background-color:hsla(
                            {% if type == 'wms' %}
                                0
                            {% elif type == 'wfs' %}
                                50
                            {% elif type == 'geojson' %}
                                100
                            {% elif type == 'csv' %}
                                150
                            {% elif type == 'xyz' %}
                                200
                            {% elif type == 'overpass' %}
                                250
                            {% else %}
                                300
                            {% endif %}
                        , 100%, 25%, 1);"
                    >{{type}}</span>
                </div>
                <h6 class="card-title">{{data.title}}</h6>
                {% if type == 'wms' or type == 'wfs' or type == 'overpass' %}
                    <h6 class="card-subtitle mb-2 text-body-secondary fs-14">{{data.name}}</h6>
                {% endif %}
                <a class="text-decoration-none text-muted fs-12 fw-normal text-truncate w-100 mt-auto" href="{{url}}" target="_blank" rel="noopener noreferrer" title="Go to {{url}}">{{url|domain}}</a>
            </div>
            <div class="card-footer d-flex gap-3">
                <button 
                    title='Add layer to map'
                    class="bg-transparent border-0 p-0 fs-14 add-layer-button bi bi-plus-lg" 
                    tabindex="-1"
                    onclick="addLayerFromData('{{data|dump_json}}')"
                ></button>
                <button 
                    title='Zoom to layer'
                    class="bg-transparent border-0 p-0 bi bi-zoom-in fs-12"
                    tabindex="-1"
                    data-layer-bbox="{{data.bbox}}"
                    onclick="zoomToSearchResultBbox()"
                ></button>
            </div>
        </div>
    </li>
    {% if forloop.last and page_obj.has_next %}
        <li id="searchResultsSpinner-{{page_obj.number}}" class="list-group-item htmx-indicator col-12">
            <div class='d-flex justify-content-center gap-3'>
                {% with spinner_class="spinner-grow spinner-grow-sm text-primary my-3" %}
                    <div class="{{spinner_class}}" role="status"></div>
                    <div class="{{spinner_class}}" role="status"></div>
                    <div class="{{spinner_class}}" role="status"></div>
                {% endwith %}
            </div>
        </li>
    {% endif %}
{% endfor %}