{% load static %}
{% load utility_tags %}

{% for layer in layers %}
    {% variable layer.data as data %}
    {% variable layer.collection as collection %}
    {% variable data.thumbnails as thumbnails %}
    {% variable data.type as type %}
    {% variable collection.url.path as url %}
    <li 
        class="list-group-item d-flex border-0 col-xxl-2 col-xl-3 col-lg-5 col-12 p-0 gap-3 flex-grow-1"
        style='min-width:180px;'
        {% if forloop.last and page_obj.has_next  %}
            hx-get="{% url 'htmx:search_library' %}{% querystring request page=page_obj.number|add:1 %}"
            hx-trigger="intersect once"
            hx-swap='outerHTML'
            hx-target="#searchResultsSpinner-{{page_obj.number}}"
            hx-indicator="#searchResultsSpinner-{{page_obj.number}}"
        {% endif %}
    >   
        <div class="card w-100">
            {% if thumbnails %}
                {% random_string as thumbnails_id %}
                <div id="{{thumbnails_id}}" class="carousel slide bg-light ignore-theme">
                    <div class= "carousel-inner">
                        {% for i in thumbnails  %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{i}}" class="card-img-top">
                            </div>
                        {% endfor %}
                    </div>
                    {% if thumbnails|length > 1 %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#{{thumbnails_id}}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#{{thumbnails_id}}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>           
                    {% endif %}
                </div>
            {% endif %}
            <div class="card-body w-100 d-flex flex-column">
                <div class='card-type'>
                    <span
                        class="badge font-monospace align-top user-select-none fs-10"
                        title="{{type}}" 
                        style="background-color:hsla(
                            {% if type == 'wms' %}
                                0
                            {% elif type == 'wfs' %}
                                36
                            {% elif type == 'geojson' %}
                                72
                            {% elif type == 'csv' %}
                                108
                            {% elif type == 'gpx' %}
                                144
                            {% elif type == 'xyz' %}
                                180
                            {% elif type == 'osm' %}
                                216
                            {% elif type == 'overpass' %}
                                252
                            {% elif type == 'kml' or type == 'kmz' %}
                                288
                            {% else %}
                                324
                            {% endif %}
                        , 100%, 25%, 1);"
                    >{{type}}</span>
                </div>
                <h6 class="card-title">{{data.title}}</h6>
                {% if type == 'wms' or type == 'wfs' %}
                    <h6 class="card-subtitle mb-2 text-body-secondary fs-14">{{data.name}}</h6>
                {% endif %}
                <a class="text-decoration-none text-muted fs-12 fw-normal text-truncate w-100 mt-auto" href="{{url}}" target="_blank" rel="noopener noreferrer" title="Go to {{url}}">{{url|subdomain}}</a>
            </div>
            <div class="card-footer d-flex gap-3" data-layer-params="{{data|dump_json}}"> 
                <button 
                    title='Add layer to map'
                    class="bg-transparent border-0 p-0 fs-14 add-layer-button bi bi-plus-lg" 
                    tabindex="-1"
                    onclick="addLayerFromData(this.parentElement)"
                ></button>
                <button 
                    title='Zoom to layer'
                    class="bg-transparent border-0 p-0 bi bi-zoom-in fs-12"
                    tabindex="-1"
                    onclick="zoomToSearchResultBbox()"
                ></button>
                <button 
                    title='Layer information'
                    class="bg-transparent border-0 p-0 bi bi-info-circle fs-12"
                    tabindex="-1"
                    data-bs-toggle="modal"
                    data-bs-target="#layerInfoModal"
                ></button>
            </div>
        </div>
    </li>
    {% if forloop.last and page_obj.has_next %}
        <li id="searchResultsSpinner-{{page_obj.number}}" class="list-group-item htmx-indicator col-12">
            <div class='d-flex justify-content-center gap-3'>
                {% with spinner_class="spinner-grow spinner-grow-sm text-primary my-3" %}
                    <div class="{{spinner_class}}" role="status"></div>
                    <div class="{{spinner_class}}" role="status"></div>
                    <div class="{{spinner_class}}" role="status"></div>
                {% endwith %}
            </div>
        </li>
    {% endif %}
{% endfor %}