# requirements.txt

asgiref==3.8.1
Django==4.2.9
django-cors-headers==4.6.0
django-debug-toolbar==4.4.6
django-htmx==1.21.0
django-leaflet==0.31.0
django-widget-tweaks==1.5.0
# GDAL @ https://github.com/ranjanport/GDAL/releases/download/3.8.4/GDAL-3.8.4-cp312-cp312-win_amd64.whl#sha256=841c9569814fb5167e5b5652cf244f20a91051d1d6dd1ee97e72a0a9c0631d8c
psycopg2==2.9.10
pytz==2024.2
random-username==1.0.2
sqlparse==0.5.3
tzdata==2024.2
