<p class="text-wrap lh-small fs-12 m-0">
    <span class="text-{{theme}} text-muted">By using Geospatialib, you agree to comply with our</span> 
    <span class="text-primary" data-bs-toggle="modal" data-bs-target="#userTermsModal">Terms of Use</span>, 
    <span class="text-primary" data-bs-toggle="modal" data-bs-target="#privacyPolicyModal">Privacy Policy</span>
    <span class="text-{{theme}} text-muted">and</span> 
    <span class="text-primary" data-bs-toggle="modal" data-bs-target="#cookiesPolicyModal">Cookies Policy</span>.
</p>