{% load static %}
{% load helper_tags %}

{% random_string as offcanvas_id %}
<button class="position-absolute bottom-0 m-3 rounded-circle p-0 shadow-lg text-bg-{{theme}} border border-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#{{offcanvas_id}}" aria-controls="{{offcanvas_id}}" title='Toggle sidebar' style='height:50px;width:50px'>
    <i class="bi bi-layout-sidebar-inset fs-20 mx-auto d-flex" style="height:20px;width:20px;"></i>
</button>
<div class="offcanvas offcanvas-start {% if not user.is_authenticated %}show{% endif %}" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="{{offcanvas_id}}" aria-labelledby="{{offcanvas_id}}Label" {% if not user.is_authenticated %}aria-modal='true' role='dialog'{% endif %}>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="{{offcanvas_id}}Label">
            <a class='text-reset text-decoration-none' href="{% url 'main:index' %}">Geospatialib</a>
        </h5>
        <div class='ms-auto d-flex flex-nowrap gap-3'>
            <button type="button" class="btn p-0 bi {% if theme == 'light' %}bi-sun{% else %}bi-moon{% endif %}" onclick='toggleTheme()'></button>
            <button type="button" class="btn p-0 bi bi-x-lg" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    </div>
    <div class="offcanvas-body">
        {% if user.is_authenticated %}
            <div class="d-flex flex-column gap-4">
                {% include "helpers/partials/user_menu.html" %}
                {% include "helpers/partials/user_projects.html" %}
            </div>
        {% else %}
            {% include "helpers/partials/google_signin.html" %}
        {% endif %}
    </div>
    <div class="offcanvas-footer border-top px-3 py-2">
        {% include "helpers/partials/disclaimer.html" %}
    </div>
</div>