<div class="btn-group w-100">
    <button 
        class="d-flex flex-nowrap align-items-center dropdown-toggle justify-content-between w-100 border rounded px-3 py-2 btn btn-{{theme}}"
        data-bs-toggle="dropdown"
    >
        <div class='d-flex flex-nowrap gap-3 align-items-center'>
            {% include "helpers/partials/profile_pic.html" with size=30 %}
            <span class="text-wrap">{{user}}</span>
        </div>
    </button>
    <ul class='dropdown-menu dropdown-menu-end'>
        {% if user.is_staff %}
            <li><a 
                class="dropdown-item text-reset text-decoration-none d-flex flex-nowrap gap-2"
                href="{% url 'admin:index' %}" 
                target="_blank" 
                rel="noopener noreferrer"   
            ><i class="bi bi-database-fill-gear"></i><span>Admin page</span></a></li>
        {% endif %}
        <li><button type="button" class="dropdown-item d-flex flex-nowrap gap-2" data-bs-toggle="modal" data-bs-target="#userSettingsModal">
                <i class="bi bi-sliders"></i>
                <span>Settings</span>
        </button></li>
        <li><form class="" method="post" action="{% url 'customuser:logout_account' %}">
            {% csrf_token %}
            <button class="dropdown-item d-flex flex-nowrap gap-2" type="submit">
                <i class="bi bi-box-arrow-in-left"></i>
                <span>Logout</span>
            </button>
        </form></li>
    </ul>
</div>