@media (min-width: 1400px) { 
    #searchResults > * { 
        width: 33.3%; 
    } 
}

@media (min-width: 1200px) and (max-width: 1399px) { 
    #searchResults > * { 
        width: 50%; 
    } 
}

@media (max-width: 1199px) { 
    #searchResults > * { 
        width: 100%; 
    } 
}