{% load static %}
{% load leaflet_tags %}

{% comment %} Bootstrap {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% comment %} htmx {% endcomment %}
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

{% comment %} alpine {% endcomment %}
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

{% comment %} leaflet {% endcomment %}
{% comment %} {% leaflet_js plugins="forms, geocoder" %} {% endcomment %}
{% leaflet_js %}

{% comment %} project {% endcomment %}
<script type="text/javascript" src="{% static 'helpers/base/js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'helpers/base/js/theme.js' %}"></script>
<script type="text/javascript" src="{% static 'helpers/base/js/sidebar.js' %}"></script>

<script type="text/javascript" src="{% static 'helpers/leaflet/js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'helpers/leaflet/js/init.js' %}"></script>

<script type="text/javascript" src="{% static app_name|add:'/js/'|add:url_name|add:'.js' %}"></script>
