{% load static %}
{% load compress %}
{% load leaflet_tags %}

{% comment %} Bootstrap {% endcomment %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

{% comment %} tagify {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.33.2/tagify.css" integrity="sha512-aGUjmkw9c7PfAFTwp5TUNdYaPeENG2dmSQcttEohCiV35w6jnLw8F4b71+OELp81/HE+FdDkoYfNG2FVoY/y2g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% comment %} leaflet {% endcomment %}
{% leaflet_css plugins="forms, geocoder, locate" %}

{% comment %} {% compress css %}
{% endcompress %} {% endcomment %}
{% comment %} project {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'helpers/base/css/index.css' %}">    
<link rel="stylesheet" type="text/css" href="{% static 'helpers/base/css/theme.css' %}">    
<link rel="stylesheet" type="text/css" href="{% static 'helpers/base/css/tagify.css' %}">    
<link rel="stylesheet" type="text/css" href="{% static 'helpers/base/css/form.css' %}">    
<link rel="stylesheet" type="text/css" href="{% static 'helpers/base/css/utils.css' %}">    
<link rel="stylesheet" type="text/css" href="{% static 'helpers/base/css/animations.css' %}">    
<link rel="stylesheet" type="text/css" href="{% static 'helpers/base/css/accordion.css' %}">    
<link rel="stylesheet" type="text/css" href="{% static 'helpers/base/css/sidebar.css' %}">    

<link rel="stylesheet" type="text/css" href="{% static 'helpers/gis/css/layers.css' %}">    
<link rel="stylesheet" type="text/css" href="{% static 'helpers/leaflet/css/controls.css' %}">    
<link rel="stylesheet" type="text/css" href="{% static 'helpers/leaflet/css/layers.css' %}">    
<link rel="stylesheet" type="text/css" href="{% static 'helpers/leaflet/css/maps.css' %}">    

<link rel="stylesheet" type="text/css" href="{% static app_name|add:'/css/'|add:url_name|add:'.css' %}">    
