.leaflet-container {
    font-family: var(--bs-body-font-family) !important;
}

.leaflet-container .offcanvas-lg:not(.offcanvas) {
    border-radius: var(--bs-border-radius);
}

.leaflet-control.leaflet-bar button,
.leaflet-control.leaflet-bar a {
    height: 32px;
    width: 32px;
    background-image: none;
    border-radius: var(--bs-border-radius);
    border: 0px;
    
    i {
        height: 23px;
        width: 30px;
    }
}
