.leaflet-container {
    font-family: var(--bs-body-font-family) !important;
}

.leaflet-container .offcanvas-lg:not(.offcanvas) {
    border-radius: var(--bs-border-radius);
}

.leaflet-control.leaflet-bar {
    border: 0px !important;
    box-shadow: var(--bs-box-shadow-lg) !important;

    button, a {
        height: 32px;
        width: 32px;
        background-image: none;
        border-radius: var(--bs-border-radius);
        
        i {
            height: 23px;
            width: 30px;
        }
    }
}

.leaflet-control-geocoder-alternatives {
    padding-left: 6px !important;

    li {

    }
}

.leaflet-control-geocoder-alternatives.text-bg-dark li span {
    color: white;
}