.leaflet-container {
    font-family: var(--bs-body-font-family) !important;
}

.leaflet-container .offcanvas-lg:not(.offcanvas) {
    border-radius: var(--bs-border-radius);
}

.leaflet-control.leaflet-bar a i {
    height: 23px;
    width: 30px;
}