{% extends "helpers/base.html" %}
{% load utility_tags %}
{% load static %}

{% block title %}
    Geospatialib
{% endblock title %}

{% block offcanvas_nav %}
    {% include "main/library/form.html" %}
{% endblock offcanvas_nav %}

{% block offcanvas_body %}
    <div id='searchLibraryResults' class="border-top p-3 d-flex flex-grow-1">
        insert featured content here
    </div>
{% endblock offcanvas_body %}

{% block sidebar_toggle %}
    {% include "helpers/partials/sidebar/toggle.html" with icon='bi-search' label='Geospatialib' title='Search library' %}
{% endblock sidebar_toggle %}