{% extends "helpers/base.html" %}
{% load utility_tags %}

{% block title %}
    Geospatialib
{% endblock title %}

{% block sidebar_toggle %}
    {% include "helpers/partials/sidebar/toggle.html" with icon='bi-search' label='Geospatialib' title='Search library' %}
{% endblock sidebar_toggle %}

{% block modals %}
    {% include "main/add_layers/modal.html" %}
{% endblock modals %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'main/js/add_layers.js' %}"></script>    
{% endblock scripts %}