.accordion-button {
    font-size: 14px !important;
}

.accordion-button::after {
    width: 0px !important;
    --bs-accordion-btn-icon: none !important;
    --bs-accordion-btn-active-icon: none !important;
}

.accordion-button:not(.collapsed) {
    font-weight: bolder;
    border: 1px solid var(--bs-border-color) !important;
    border-bottom: 0px !important;
    
}

.accordion-button.collapsed {
    border-bottom: 1px solid var(--bs-border-color) !important;
    background-color: transparent !important;
}

.nav-tabs {
    .nav-item:nth-child(1) > .accordion-button:not(.collapsed) {
        border-left: 0px !important;
        border-top-left-radius: 0 !important;
    }
    
    .nav-item:last-child {
        flex-grow: 1;
        border-bottom: 1px solid var(--bs-border-color) !important;
        min-width: 16px;
    }

} 

.accordion {
    border-bottom-right-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
}

.accordion-collapse {
    max-height: 100% !important;
}