label {
    user-select: none;
}

.box-shadow-none:focus-visible,
.box-shadow-none:focus,
.box-shadow-none {
    box-shadow: none;
    outline: none;
}

.focus-underline-primary {
    border-bottom: transparent !important;
}

.focus-underline-primary:active,
.focus-underline-primary:focus,
.focus-underline-primary:hover {
    border-bottom: var(--bs-border-width) solid #0d6efd !important;
}