html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 0rem;
}