html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
}

[data-bs-theme="light"] ::-webkit-scrollbar-thumb {
    background-color:hsla(210, 11%, 15%, 0.3) !important;
} 

[data-bs-theme="dark"] ::-webkit-scrollbar-thumb {
    background-color:hsla(210, 14%, 89%, 0.5) !important;
} 