.offcanvas-nav {
    padding: 16px
}

.sidebar-gutter {
    max-width: 3px !important;
    padding: 0px;
    background-color: var(--bs-border-color);
    cursor: col-resize;
}

[data-bs-toggle="offcanvas"] {
    height: 42px !important;
    width: 42px !important;
}