:root {
    --tagify-dd-bg-color: var(--bs-body-bg);
    --tagify-dd-text-color: var(--bs-body-color);
    /* --tagify-dd-color-primary: var(--bs-body-color) */
}

.tagify[disabled] {
    background-color: var(--bs-body-bg);
}

.tagify__dropdown {
    /* border: none; */
    /* margin-top: 5px;
    margin-bottom: 5px; */

    .tagify__dropdown__wrapper {
        border-color: var(--bs-border-color) !important;
        background-color: var(--bs-body-bg) !important;
        border-radius: var(--bs-border-radius) !important;
    
        .tagify__dropdown__item {
            font-size: 12px !important;
        }
    }
}

.tagify {
    --placeholder-color: var(--bs-secondary-color);
    --placeholder-color: var(--bs-secondary-color);
    --placeholder-color-focus: var(--bs-secondary-color);
    --tag-bg: var(--bs-primary);
    --tag-hover: var(--bs-primary);
    --tag-text-color: white;
    --tag-text-color--edit: white;
    --tag-remove-btn-color: white;

    .tagify__input {
        min-height: 24px;
    }

    .tagify__tag {
        max-width: 50%;
        word-break: break-all;
        word-wrap: break-word;
    }
}