/* :root {
    --tagify-dd-bg-color: var(--default-bg-light)
} */

.bs-tagify-dropdown .tagify__dropdown__item{
    border-radius: var(--bs-border-radius);
    border-color: var(--bs-border-color);
    background: var(--default-bg-light);
    color: var(--bs-body-color);
}

[data-bs-theme="dark"] {
    :root {
        --tagify-dd-bg-color: var(--default-bg-dark)
    }

    .tagify {
        --placeholder-color: hsla(0, 0%, 100%, 0.5);
        --placeholder-color-focus: hsla(0, 0%, 100%, 0.5);
    }
    
    .bs-tagify-dropdown .tagify__dropdown__item{
        background: var(--default-bg-dark);
    }
}