:root {
    --adjusted-bg-dark: #35374B;
    --adjusted-bg-light: #FFF5D7;
    /* --adjusted-bg-light: hsl(210, 17%, 98%);
    --adjusted-bg-dark: hsl(210, 11%, 15%); */
}

[data-bs-theme="light"] {
    .offcanvas, .offcanvas-lg {
        background-color: var(--adjusted-bg-light) !important;
    }

    ::-webkit-scrollbar-thumb {
        background-color:hsla(210, 11%, 15%, 0.3) !important;
    } 
}

[data-bs-theme="dark"] {
    .offcanvas, .offcanvas-lg {
        background-color: var(--adjusted-bg-dark) !important;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color:hsla(210, 14%, 89%, 0.5) !important;
    } 

    .bs-tooltip-auto {
        .tooltip-arrow::before {
            border-color: var(--adjusted-bg-dark) !important;
        }
        
        .tooltip-inner {
            color:  #fff !important;
            background-color: var(--adjusted-bg-dark) !important;
            border-radius: var(--bs-border-radius);
        }
    }
}