.w-auto {
    width: auto;
}
.h-auto {
    height: auto;
}

.w-10 {
    width: 10%;
}
.w-15 {
    width: 15%;
}
.w-20 {
    width: 20%;
}

.w-90 {
    width: 90%;
}

.fs-12 {
    font-size: 12px;
    
    .input-group-text {
        font-size: 12px;
    }
}

.fs-14 {
    font-size: 14px;
}

.fs-20 {
    font-size: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.me-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ms-10 {
    margin-left: 10px;
}

.m-10 {
    margin: 10px;
}

.fs-30 {
    font-size: 30px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-10 {
    font-size: 10px;
}

.user-select-none {
    user-select: none;
}

.onblur-fade {
    opacity: 10%;
}

.onblur-fade:hover {
    opacity: 100%;
}

.underline-on-hover:hover {
    text-decoration:underline;
    text-decoration-color: inherit;
}

.text-decoration-none {
    text-decoration: none;
}

.active-border-none:active {
    border-color: transparent !important;
}