.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.m-10 {
    margin: 10px;
}

.fs-30 {
    font-size: 30px;
}

.fs-20 {
    font-size: 20px;
}

.user-select-none {
    user-select: none;
}

.ms-60 {
    margin-left: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}