.w-auto {
    width: auto;
}
.h-auto {
    height: auto;
}

.w-10 {
    width: 10%;
}
.w-15 {
    width: 15%;
}
.w-20 {
    width: 20%;
}

.w-90 {
    width: 90%;
}

.fs-12 {
    font-size: 12px;
    
    .input-group-text {
        font-size: 12px;
    }
}

.fs-14 {
    font-size: 14px;
}

.fs-20 {
    font-size: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.me-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ms-10 {
    margin-left: 10px;
}

.m-10 {
    margin: 10px;
}

.fs-30 {
    font-size: 30px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-10 {
    font-size: 10px;
}

.user-select-none {
    user-select: none;
}

.fade-onblur {
    opacity: 10%;
}

.fade-onblur:hover {
    opacity: 100%;
}

.underline-on-hover:hover {
    text-decoration:underline;
    text-decoration-color: inherit;
}

.text-decoration-none {
    text-decoration: none;
}

.active-border-none:active {
    border-color: transparent !important;
}

.collapse-bottom-left.collapsing {
  position: relative;
  height: auto;       /* override Bootstrap height animation */
  transition: transform 0.25s ease, opacity 0.25s ease;
  transform-origin: bottom left;   /* anchor at top-right */
  transform: scale(0);           /* collapsed state */
  opacity: 0;
}

.collapse-bottom-left.collapse.show {
  transform: scale(1);           /* expanded state */
  opacity: 1;
  transform-origin: bottom left;
  transition: transform 0.25s ease, opacity 0.25s ease;

}

.collapse-bottom-left.collapse {
  transform: scale(0);
  opacity: 0;
  transform-origin: bottom left;
}

.collapse-top-right.collapsing {
  position: relative;
  height: auto;       /* override Bootstrap height animation */
  transition: transform 0.25s ease, opacity 0.25s ease;
  transform-origin: top right;   /* anchor at top-right */
  transform: scale(0);           /* collapsed state */
  opacity: 0;
}

.collapse-top-right.collapse.show {
  transform: scale(1);           /* expanded state */
  opacity: 1;
  transform-origin: top right;
  transition: transform 0.25s ease, opacity 0.25s ease;

}

.collapse-top-right.collapse {
  transform: scale(0);
  opacity: 0;
  transform-origin: top right;
}

@media (max-width: 600px) {
  .hw-sm-100 {
    height: 100vh !important;
    width: 100vw !important;
    max-height: 100vh !important;
    max-width: 100vw !important;
  }

  .h-sm-100 {
    height: 100vh !important;
    max-height: 100vh !important;
  }

  .mh-sm-100 {
    max-height: 100vh !important;
  }

  .mh-sm-80 {
    max-height: 80vh !important;
  }
  
  .mh-sm-none {
    max-height: none !important;
  }

  .w-sm-100 {
    width: 100vw !important;
    max-width: 100vw !important;
  }
}

.accordion-collapse.flex-grow-1.collapse.show {
    display: flex;
}