{% load static %}
{% load compress %}

{% comment %} sql wasm {% endcomment %}
{% comment %} <script src="https://cdn.jsdelivr.net/npm/sql-wasm@1.1.4/dist/cjs/sql-wasm-browser.min.js"></script> {% endcomment %}

{% compress js %}
    <script type="text/javascript" src="{% static 'plugins/htmx/js/htmx.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/htmx-ext-ws/js/htmx-ext-ws@2.0.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/maplibre-gl/js/maplibre-gl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/leaflet/js/leaflet.js' %}"></script>


    <script type="text/javascript" src="{% static 'plugins/string-similarity/js/string-similarity.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/compress-json/js/bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/shpjs/js/shp.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/proj4/js/proj4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/turf/js/turf.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/sql-wasm/js/sql-wasm.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/lodash/js/lodash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/togeojson/js/togeojson.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/dxf-parse/js/dxf-parser.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/html2canvas/js/html2canvas.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/papaparse/js/papaparse.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/jszip/js/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/wkx/js/wkx.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'helpers/js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'helpers/js/theme.js' %}"></script>
    <script type="text/javascript" src="{% static 'helpers/js/cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'helpers/js/observers.js' %}"></script>
    <script type="text/javascript" src="{% static 'helpers/js/fetch.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'gis/js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'gis/js/indexdb.js' %}"></script>
    <script type="text/javascript" src="{% static 'gis/js/geojson.js' %}"></script>
    <script type="text/javascript" src="{% static 'gis/js/data.js' %}"></script>
    <script type="text/javascript" src="{% static 'gis/js/xyz.js' %}"></script>
    <script type="text/javascript" src="{% static 'gis/js/ogc.js' %}"></script>
    <script type="text/javascript" src="{% static 'gis/js/map.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'gis/js/controls/settings.js' %}"></script>
    <script type="text/javascript" src="{% static 'gis/js/controls/fit_to_world.js' %}"></script>
    <script type="text/javascript" src="{% static 'gis/js/controls/place_search.js' %}"></script>
    <script type="text/javascript" src="{% static 'gis/js/controls/legend.js' %}"></script>
    <script type="text/javascript" src="{% static 'gis/js/controls/layers.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'gis/js/handlers/add_layers.js' %}"></script>
    <script type="text/javascript" src="{% static 'gis/js/handlers/sources.js' %}"></script>
    <script type="text/javascript" src="{% static 'gis/js/handlers/interactions.js' %}"></script>
    <script type="text/javascript" src="{% static 'gis/js/handlers/controls.js' %}"></script>

    <script type="text/javascript" src="{% static 'plugins/alpine/js/cdn.min.js' %}"></script>
{% endcompress %}

<script type="text/javascript" src="{% static app_name|add:'/js/'|add:url_name|add:'.js' %}"></script>
