{% load static %}
{% load compress %}

{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap/css/bootstrap-icons.min.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/maplibre-gl/css/maplibre-gl.min.css' %}">    

    <link rel="stylesheet" type="text/css" href="{% static 'helpers/css/utils.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'helpers/css/theme.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'helpers/css/base.css' %}">    
{% endcompress %}

<link rel="stylesheet" type="text/css" href="{% static app_name|add:'/css/'|add:url_name|add:'.css' %}">    
