<div class="modal fade" id="clearLocalDataModal" tabindex="-1" aria-labelledby="clearLocalDataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clearLocalDataModalLabel">Clear Local Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to clear locally stored data? Some layers in your maps might be dependent on these data.
            </div>
            <div class="modal-footer d-flex justify-content-between gap-2">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#userOptionsModal">Back</button>
                <button type="submit" class="btn btn-danger" onclick="clearGISDB()" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>