<div class="d-flex flex-column">
    <p class="text-wrap text-muted user-select-none lh-1 mt-2 mb-0 fs-12 px-3" style="width:230px;">
        By using Geospatialib, you agree to comply with our 
        <span class="text-primary" data-bs-toggle="modal" data-bs-target="#userTermsModal">Terms</span>, 
        <span class="text-primary" data-bs-toggle="modal" data-bs-target="#userPrivacyPolicyModal">Privacy Policy</span> and 
        <span class="text-primary" data-bs-toggle="modal" data-bs-target="#userCookiesPolicyModal">Cookies Policy</span>.
    </p>
    <hr>
    <div class="d-flex gap-2 justify-content-center px-3">
        <button type="button" class="btn btn-outline-secondary text-bg-{{theme}} btn-sm badge font-monospace d-flex flex-nowrap gap-2" data-bs-toggle="modal" data-bs-target="#userOptionsModal">
            <i class="bi bi-toggles"></i>
            <span>Options</span>
        </button>
        {% if user.is_authenticated and user.is_superuser %}
            <a class='text-reset text-decoration-none btn btn-outline-secondary text-bg-{{theme}} btn-sm badge font-monospace d-flex flex-nowrap gap-2' href="{% url 'admin:index' %}" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-sliders"></i>
                <span>ADMIN</span>
            </a>
        {% endif %}
    </div>
</div>