<div class="modal fade" id="userCookiesPolicyModal" tabindex="-1" aria-labelledby="userCookiesPolicyModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userCookiesPolicyModalLabel">Cookies Policy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        To enhance your experience, Geospatialib uses cookies in the following ways:
        <ul>
            <li>Essential cookies: Required for basic functionality such as sign-in and map layer loading.</li>
            <li>Analytical cookies: Used to monitor traffic and usage patterns via tools like Google Analytics.</li>
            <li>Preference cookies: Store settings like theme, zoom level, or recently viewed layers.</li>
        </ul>
        By continuing to use Geospatialib, you consent to our use of cookies. You can disable cookies via browser settings, but functionality may be limited.
      </div>
      <div class="modal-footer">
        {% comment %} <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> {% endcomment %}
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Agree</button>
      </div>
    </div>
  </div>
</div>