{% load static %}
{% load socialaccount %}

<button id='userDropdownMenu' type="button" class="btn bg-transparent rounded dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    {% if user.is_authenticated %}
        {% with social_account=user.socialaccount_set.all %}
            {% if social_account and social_account.0.extra_data.picture %}
                <img src="{{ social_account.0.extra_data.picture }}" alt="{{ user.full_name }}" width="25" height="25" class="rounded-circle me-2">
            {% else %}
                <i class="bi bi-person-circle me-2"></i>
            {% endif %}
        {% endwith %}
    {% else %}
        <i class="bi bi-box-arrow-in-right me-2"></i>
    {% endif %}
</button>

{% if user.is_authenticated %}
    <ul class="dropdown-menu dropdown-menu-end">
        <li><form class='dropdown-item' method="post" action="{% url 'customuser:logout' %}">
            {% csrf_token %}
            <button class='border-0 bg-transparent p-0 m-0 w-100 text-start' type="submit">Logout</button>
        </form></li>
        <li><hr class="dropdown-divider"></li>
        {% include "helpers/partials/user/compliance.html" %}
    </ul>
{% else %}
    <div class="dropdown-menu p-3 dropdown-menu-end">
        <a href="{% provider_login_url 'google' %}?next={% url 'main:index' %}" class="justify-content-center d-flex flex-nowrap text-reset text-decoration-none">
            <i class="bi bi-google me-2"></i>
            <span class='text-nowrap'>Sign in with Google</span>
        </a>                 
        {% include "helpers/partials/user/compliance.html" %}
    </div>
{% endif %}