{% load static %}
{% load utility_tags %}

{% if filenames|length > 0 %}
    {% for filename in filenames %}
        {% if filename|endswith:'.geojson' %}
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value="{{filename}}" checked>
                </div>
                <input type="text" class="form-control" value="{{filename}}">
            </div>
        {% endif %}
    {% endfor %}
{% endif %}