{% load static %}
{% load utility_tags %}

{% if filenames|length > 0 %}
    <div class="input-group">
        <div class="input-group-text">
            <input class="form-check-input" type="checkbox" value="all" id="{{id}}" checked>
        </div>
        <label class="form-check-label" for="{{id}}">Select all layers</label>
    </div>
    <div class="form-check">
        {% random_string as id %}
    </div>
    {% for filename in filenames %}
        {% if filename|endswith:'.geojson' %}
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value="{{filename}}" checked>
                </div>
                <input type="text" class="form-control" value="{{filename}}" placeholder='Layer name'>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}