{% load static %}
{% load utility_tags %}

{% variable request.COOKIES|get:'theme' 'dark' as theme %}
{% if form %}
    {% variable 'url' as source %}
{% else %}
    {% variable 'files' as source %}
{% endif %}

{% if layers and layers.keys|length > 0 %}
    {{collection}}
    {{cacheKey}}
    <div
        class="d-flex gap-2 align-items-center sticky-top text-bg-{{theme}} pt-2"
        {% if not collection and cacheKey %}
            hx-post="{% url 'htmx:update_collection' %}"
            hx-trigger='update-collection'
            hx-vals='{"cacheKey": "{{cacheKey}}"}'
            hx-swap='none'
        {% endif %}
    >
        <input class="form-check-input mt-0" type="checkbox" value="all">
        <input type="text" class="form-control border-0 box-shadow-none" value="Select all layers ({{layers.keys|length|format_number}})" readonly>
    </div>
    <div class='d-flex flex-column gap-2'>
        {% for name, params in layers.items %}
            <div class='d-flex align-items-center'>
                <input class="form-check-input mt-0" type="checkbox" value="{{name}}">
                <div class="form-floating flex-grow-1 ms-2 w-50">
                    {% random_string as id %}
                    <input id="{{id}}" type="text" class="form-control" name='title' title="{{name}}" value="{{params.title}}">
                    <label for="{{id}}">Title</label>
                </div>

                <input type="text" name='type' value="{{params.type}}" hidden>
                {% if params.id %}
                    <input type="text" name='id' value="{{params.id}}" hidden>
                {% endif %}
                {% if params.bbox %}
                    <input type="text" name='bbox' value="{{params.bbox}}" hidden>
                {% endif %}
                {% if params.attribution %}
                    <input type="text" name='attribution' value="{{params.attribution}}" hidden>
                {% endif %}
                {% if params.styles %}
                    <input type="text" name='styles' value="{{params.styles}}" hidden>
                {% endif %}
                
                {% if params.type == 'csv' %}
                    <div class="form-floating ms-2">
                        {% random_string as id %}
                        {% variable params.xField as value %}
                        <input id="{{id}}" type="text" name='xField' class='form-control form-control-sm' value="{{value}}">
                        <label for="{{id}}">X Field</label>
                    </div>
                    <div class="form-floating ms-2">
                        {% random_string as id %}
                        {% variable params.yField as value %}
                        <input id="{{id}}" type="text" name='yField' class='form-control form-control-sm' value="{{value}}">
                        <label for="{{id}}">Y Field</label>
                    </div>
                    <div class="form-floating ms-2">
                        {% random_string as id %}
                        {% variable params.srid as value %}
                        <input id="{{id}}" type="number" name='srid' class='form-control form-control-sm' value="{% if value %}{{value}}{% else %}4326{% endif %}">
                        <label for="{{id}}">SRID</label>
                    </div>
                {% else %}
                    {% if params.srid %}
                        <input type="number" name='srid' value="{{params.srid}}" hidden>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}