{% load static %}
{% load utility_tags %}

{% if form %}
    {% variable 'url' as source %}
{% else %}
    {% variable 'files' as source %}
{% endif %}
{{layers}}
{% if layers and layers.keys|length > 0 %}
    <div class="input-group" data-layer-source="{{source}}">
        <div class="input-group-text border-0 bg-transparent">
            <input class="form-check-input" type="checkbox" value="all"  checked>
        </div>
        <input type="text" class="form-control border-0 box-shadow-none" value="Select all layers" readonly>
    </div>
    {% for name, attrs in layers.items %}
        <div class="input-group" data-layer-source="{{source}}">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value="{{name}}" checked>
            </div>
            <input type="text" class="form-control" name='title' placeholder="{{name}}" title="{{name}}" value="{{attrs.title}}">
            <div class="input-group-text d-flex gap-2 fs-12">
                <div class="form-floating">
                    {% random_string as id %}
                    <input id="{{id}}" type="text" name='type' value="{{attrs.type}}" class='form-control form-control-sm' readonly>
                    <label for="{{id}}">Type</label>
                </div>
                {% if attrs.type == 'csv' %}
                    <div class="form-floating">
                        {% random_string as id %}
                        <input id="{{id}}" type="text" name='xField' class='form-control form-control-sm'>
                        <label for="{{id}}">X Field</label>
                    </div>
                    <div class="form-floating">
                        {% random_string as id %}
                        <input id="{{id}}" type="text" name='yField' class='form-control form-control-sm'>
                        <label for="{{id}}">Y Field</label>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}