{% load utility_tags %}
{% load static %}

<div id='addLayersModal' class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen-sm-down">
        <form id='addLayersForm' class="modal-content" style='min-height:400px'>
            <div class="modal-header">
                <h5 class="modal-title">Add layers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-3">
                <div class="d-flex flex-nowrap gap-3">
                    <div class="form-check">
                        {% random_string as id %}
                        <input id="{{id}}" class="form-check-input" type="radio" value="files" name="source" checked>
                        <label class="form-check-label" for="{{id}}">Upload files</label>
                    </div>
                    <div class="form-check m-0">
                        {% random_string as id %}
                        <input id="{{id}}" class="form-check-input" type="radio" value="url" name="source">
                        <label class="form-check-label" for="{{id}}">Connect to URL</label>
                    </div>
                </div>
                <div id='addLayersForm-fileFields' class="d-flex flex-column gap-3">
                    <input 
                        name='files' 
                        class="form-control"
                        type="file" 
                        multiple="true" 
                        accept=".geojson, .zip"
                        hx-get="{% url 'htmx:get_file_forms' %}" 
                        hx-trigger="change" 
                        hx-target="#addLayersForm-files-layerNames"
                        hx-swap="innerHTML"
                    >
                    <div id='addLayersForm-files-layerNames'></div>
                </div>
                <div id='addLayersForm-urlFields' class="d-none d-flex flex-column gap-3">
                    {% include "helpers/partials/add_layers/url_fields.html" with form=validate_collection_form %}
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button name='reset' type="button" class="btn btn-secondary" tabindex='-1'>Reset</button>
                <button name='submit' type="button" disabled class="btn btn-primary">Add layers</button>
            </div>
        </form>
    </div>
</div>

