{% load widget_tweaks %}
{% load utility_tags %}
{% load static %}

{% csrf_token %}

{% with field=form.url %}
    <div class="input-group ">
        <div class="input-group-text">
            {% include "helpers/partials/form/label.html" %}
        </div>
        {% include "helpers/partials/form/field.html" %}
    </div>
{% endwith %}

{% with field=form.format %}
    <div class="input-group ">
        <div class="input-group-text">
            {% include "helpers/partials/form/label.html" %}
        </div>
        {% include "helpers/partials/form/field.html" %}
    </div>
{% endwith %}

{% if layers %}
    <div id='addLayersForm-url-layerNames' hx-swap-oob="true" class='d-flex flex-column gap-2 mx-3 mb-4'>
        {% include "helpers/partials/add_layers/layer_forms.html" %}
    </div>
{% endif %}