<div class="fs-14" >
    <table class="table table-dark table-rows-border-0 table-condensed" >
        <tbody>
            <tr class="">
                <td scope="row" class="{{label_class}}">Owner</td>
                <td>
                    {{map.owner.proper_name}}
                    {% if map.owner_since %}
                        since {{map.owner_since|date:"M d, Y"}}
                    {% endif %}                
                </td>
                <td class='pe-0 d-flex justify-content-end'>
                    {% if role >= 3 %}
                        {% include "map/sidebar/edit_button.html" with section='meta' %}
                    {% endif %}
                </td>
            </tr>
            {% for label, contributors in map.contributors_dict.items %}
                <tr class="">
                    <td scope="row" class="{{label_class}}">{{label}}</td>
                    <td>
                        <ul class="list-unstyled mb-0">
                            {% for role in contributors %}
                                <li>{{role.user.proper_name}}</li>
                            {% endfor %}            
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

