<div 
    class="{% if show_sidebar %}offcanvas-lg{% else %}offcanvas{% endif %} offcanvas-start col-lg-4 text-bg-{{theme}} shadow-lg border-0 p-0 d-flex flex-column vh-100" 
    tabindex="-1" 
    id="{{offcanvas_id}}" 
    aria-labelledby="{{offcanvas_id}}Label"
    data-bs-scroll="true" 
    data-bs-backdrop="false" 
>
    <div class="offcanvas-header d-flex justify-content-between">
        <h5 class="offcanvas-title" id="{{offcanvas_id}}Label">Geospatialib</h5>
        <div class='ms-5 d-flex flex-nowrap'>
            {% with default_class='bi border-0 bg-transparent fs-20 p-0 ms-3 text-muted' %}
                <button 
                    type="button" 
                    class="{% if theme == 'light' %}bi-moon{% else %}bi-moon-fill{% endif %} {{default_class}}"
                    onclick='toggleTheme()'
                    title='Toggle dark mode'
                ></button>
                <button 
                    type="button" 
                    class="{% if show_sidebar %}bi-layout-sidebar-inset{% else %}bi-window-sidebar{% endif %} d-none d-lg-inline {{default_class}}"
                    onclick='toggleSidebar("#{{offcanvas_id}}")'
                    title='Toggle sidebar'
                ></button>
                <button 
                    type="button" 
                    class="bi-x-lg {% if show_sidebar %}d-lg-none{% endif %} {{default_class}}" 
                    data-bs-dismiss="offcanvas" 
                    data-bs-target="#{{offcanvas_id}}" 
                    aria-label="Close"
                ></button>
            {% endwith %}
        </div>
    </div>
    <div class="offcanvas-nav">
        navigation bar
    </div>
    <div class="offcanvas-body px-3 overflow-auto flex-grow-1 mb-3">
        <p>{% lorem 10 b random %}</p>
    </div>
</div>