<div 
    id="{{offcanvas_id}}" 
    class="offcanvas-lg col-lg-4 offcanvas-start text-bg-light" 
    data-bs-scroll="true" 
    data-bs-backdrop="false" 
    tabindex="-1"
    aria-labelledby="{{offcanvas_id}}Label"
>
    <div class="offcanvas-header d-flex">
        <h5 class="offcanvas-title" id="{{offcanvas_id}}Label">Geospatialib</h5>
        <button type="button" class="btn-close d-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <button type="button" class=""></button>
    </div>
    <div class="offcanvas-nav ">
        navigation bar
    </div>
    <div class="offcanvas-body">
        <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
</div>