<div 
    class="offcanvas-lg offcanvas-start col-lg-4 text-bg-light shadow-lg border-0 p-0" 
    tabindex="-1" 
    id="{{offcanvas_id}}" 
    aria-labelledby="{{offcanvas_id}}Label"
    data-bs-scroll="true" 
    data-bs-backdrop="false" 
>
    <div class="offcanvas-header d-flex justify-content-between">
        <h5 class="offcanvas-title" id="{{offcanvas_id}}Label">Geospatialib</h5>
        <div class='d-flex flex-nowrap'>
            {% with default_class='border-0 bg-transarent fs-20 p-0 text-muted ms-3' %}
                <button 
                    type="button" 
                    class="bi bi-moon {{default_class}}"
                    onclick='toggleTheme()'
                ></button>
                <button 
                    type="button" 
                    class="bi bi-layout-sidebar-inset d-none d-lg-inline {{default_class}}"
                    onclick='toggleSidebar("#{{offcanvas_id}}")'
                ></button>
                <button 
                    type="button" 
                    class="bi bi-x-lg d-lg-none {{default_class}}" 
                    data-bs-dismiss="offcanvas" 
                    data-bs-target="#{{offcanvas_id}}" 
                    aria-label="Close"
                ></button>
            {% endwith %}
        </div>
    </div>
    <div class="offcanvas-nav ">
        navigation bar
    </div>
    <div class="offcanvas-body">
        <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
</div>