{% load util_tags util_filters %}
{% load leaflet_tags %}

{% var 'defaultSidebar' as 'sidebar_id' %}

<div class="container-fluid vh-100">
    <div class="row vh-100">
        <div 
            id="{{sidebar_id}}"
            class="offcanvas-lg offcanvas-start col-lg-4 vh-100 shadow-lg d-flex p-0 m-0" 
            data-bs-scroll="true" 
            data-bs-backdrop="false" 
            aria-labelledby="{{sidebar_id}}Label"
            tabindex="-1"
            style='min-width:400px;'
        >
            <div class='d-flex flex-column flex-grow-1 vh-100'>
                <div class="offcanvas-header d-flex">
                    <h4 class="offcanvas-title flex-grow-1 user-select-none" id="{{sidebar_id}}Label">
                        <a class='text-reset text-decoration-none' href="{% url 'main:index' %}">Geospatialib</a>
                    </h4>
                    <button 
                        type="button" 
                        class="bi bi-moon-fill" 
                        title='Toggle dark mode'
                        onclick='toggleDarkMode(event)'
                    ></button>    
                    <button 
                        type="button" 
                        class="bi bi-layout-sidebar-inset d-none d-lg-block" 
                        title='Toggle sidebar'
                        onclick='toggleSidebar(event)' 
                    ></button>    
                    <button 
                        type="button" 
                        class="btn-close d-lg-none" 
                        data-bs-dismiss="offcanvas" 
                        data-bs-target="#{{sidebar_id}}" 
                        aria-label="Close"
                    ></button>
                </div>
                {% block offcanvas_nav %}
                    nav
                {% endblock offcanvas_nav %}
                {% block offcanvas_body %}
                    body
                {% endblock offcanvas_body %}
                {% block offcanvas_footer %}
                    footer
                {% endblock offcanvas_footer %}
            </div>
            <div class="gutter vh-100 p-0 border-end border-3 d-none d-lg-flex" style='cursor:col-resize;'></div>
        </div>
        <div class='col vh-100 p-0 m-0'>
            <button 
                type="button" 
                class="btn btn-sm btn-dark d-lg-none z-2 position-fixed bottom-0 p-0 m-10"
                data-bs-toggle="offcanvas"
                data-bs-target="#{{sidebar_id}}"
                aria-controls="{{sidebar_id}}"
            >
                {% block sidebar_toggle_icon %}
                    <i class="bi bi-layout-sidebar-inset"></i>
                {% endblock sidebar_toggle_icon %}
                <span class='ms-2 d-none d-xl-inline'>
                    {% block sidebar_toggle_name %}
                        Sidebar
                    {% endblock sidebar_toggle_name %}
                </span>
            </button>
            <div class='vh-100 position-relative'>
                {% leaflet_map 'defaultMap' %}
            </div>
        </div>
    </div>
</div>

